@import url(https://fonts.googleapis.com/css?family=Nunito);


body {
    background: #000000;
}

.slide:first-of-type {
    background: linear-gradient(135deg, #202020 0%, #000000 100%);
}
.contentSlide {
    background: linear-gradient(135deg, #282828 0%, #080808 100%);
}
.slide:last-of-type {
    background: linear-gradient(135deg, #404040 0%, #202020 100%);
}

.projectImg {
    width: 25%;
}

h1 {
    font-size: 250%;
    color: #e0e0e0;
}
.title > h1 {
    margin-bottom: 0;
    color: #000000;
}
.title > h3 {
    margin-top: 0;
    font-style: italic;
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #e0e0e0;
}
a {
    color: #05132a;
    font-weight: bold;
}
a:hover {
    color: #000000;
}
.hiddenLink {
    text-decoration: none;
}

#githubIcon {
    margin: 0 30px;
}
#mailIcon {
    margin: 0 30px;
}