@import url(https://fonts.googleapis.com/css?family=Nunito);


body {
    background: #000000;
}
body::-webkit-scrollbar {
    display: none;
}

.slide:first-of-type {
    background: linear-gradient(135deg, #1c246e 0%, #040c28 100%);
}
.contentSlide {
    background: linear-gradient(135deg, #0f1c3f 0%, #010411 100%);
}
.slide:last-of-type {
    background: linear-gradient(135deg, #052a5d 0%, #061133 100%);
}

h1 {
    font-size: 250%;
    color: #e0e0e0;
}
.title > h1 {
    margin-bottom: 0;
    color: #000000;
}
.title > h3 {
    margin-top: 0;
    font-style: italic;
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #e0e0e0;
}
a {
    color: #05132a;
    font-weight: bold;
}
a:hover {
    color: #000000;
}
.hiddenLink {
    text-decoration: none;
}

#mailIcon {
    margin: 0 30px;
}